<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Resorts - BearTrips</title>
</head>
<body>
<div class="w3-container w3-purple">
    <h1>Resorts</h1>
</div>

<div class="w3-content">

    <div class="w3-row w3-margin">

        <div class="w3-third">
            <img th:src="@{/images/r1.jpg}" style="width:600px;min-height:200px">
        </div>
        <div class="w3-twothird w3-container">
            <h2>Barsha Resort , Sundarban</h2>
            <p>Barsha Eco Resort will be owned by its directors & shared-owners under Sundarban Eco Resort Ltd (Reg. No. 107000/13), a joint stock registered company following company act of Bangladesh.

                The shared-owners & their family will enjoy 3-night/ 4-day stay in a calendar year for free. Family members exceeding 4 in number will have to pay room rent of the Eco-Resorts Cottage. Moreover, shared-owners (+ maximum 3 family members) will enjoy highly privileged services and rates to be determined by the management. In addition, shared-owners will get annual dividend from the net profit of the organization.

                The management will be composed of directors cum entrepreneurs of the SER project. However, the board of directors will be represented by three shared-owners. This board of directors will have authority to direct, operate, design and implement the project for a better eco-recreation and profitability.</p>
        </div>

    </div>



</div>
</body>
</html>